<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Blue Chef</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS / FontAwesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="/css/styles.css">

</head>

<body>
	<header class="mt-3 mb-5">
		<div class="container row">
			<div class="col-md-8">
				<h1>
					<a href="/">The Blue Chef</a>
				</h1>
			</div>
			<div class="col-md-2 text-right">
				<a class="btn btn-primary" href="/saved-recipes">My Recipes</a>
			</div>
			<div class="col-md-2">
				<form class="scrape-btn" method="POST" action="/scrape">
					<button type="submit" class="btn btn-primary">Scrape Recipe</button>
				</form>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row card-deck">
			{{{ body }}}
		</div>
	</div>

	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	 crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/app.js"></script>

</body>

</html>